#root > div > div > div.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-9.MuiGrid-grid-md-8.css-158u7se-MuiGrid-root > div{
    border-radius: 4px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 4px rgb(79, 98, 148);
}